
  <!-- 功能模块 -->
  <div class="row div_function1"> <!-- 使用的图标与顶层有一定距离，暂时如此 -->
      <div class="col-md-3 col-xs-6">
          <div class="panel panel-default" id="pFunc1">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/story/category-pic/">
                  <strong>照片墙</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/picture.png">
              </a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-xs-6">
          <div class="panel panel-default"  id="pFunc2">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/story/category-note/">
                  <strong>记事本</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/note.png">
              </a>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-xs-6">
          <div class="panel panel-default"  id="pFunc3">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/grow/play.html">
                  <strong>游乐场</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/muma.png">
              </a>
              </div>
          </div>
      </div>
    <div class="col-md-3 col-xs-6">
          <div class="panel panel-default"  id="pFunc4">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/grow/growup.html">
                  <strong>成长记</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/growup.png">
              </a>
              </div>
          </div>
      </div>
  </div>
<!-- 功能模块 结束-->

<div class="container div_divider">
<hr class="hr_1">欢迎访问李大锤的个人主页 <a class="link" href="{{ site.baseurl }}/">返回首页</a> <hr class="hr_2"> 

</div>
