  <!-- 顶层标题 -->
  <nav class="navbar navbar-default navbar-fixed-top">                <!--声明导航区域，设置导航默认样式，设置导航条固定在顶部-->
      <div class="container">                                            <!--设置固定布局，最大宽度1140-->
          <div class="navbar-header">                                    <!--设置导航标题区域-->
              <a href="{{ site.baseurl }}/" class="navbar-brand" style="padding:0;"><img src="{{ site.baseurl }}/img/web/me.jpg" alt="李大锤个人主页"></a><div style="display: inline-block; margin-left: 30px;font-size: 30px;">李大锤个人主页</div>
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">    <!--设置导航按钮-->
                  <span class="icon-bar"></span>        <!--设置导航按钮样式-->
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div class="collapse navbar-collapse" id="navbar-collapse">                <!--设置导航折叠区域，设置导航折叠样式-->
              <ul class="nav navbar-nav navbar-right" style="margin-top:0">        <!--设置列表区域，导航列表默认样式，导航列表右浮动-->
                  <li class="active"><a class="link" href="{{ site.baseurl }}/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                  <li><a class="link" href="{{ site.baseurl }}/story/category-pic/"><span class="glyphicon glyphicon glyphicon-camera"></span> 照片墙</a></li>
                  <li><a class="link" href="{{ site.baseurl }}/story/category-note/"><span class="glyphicon glyphicon-edit"></span> 记事本</a></li>
                  <li><a class="link" href="{{ site.baseurl }}/grow/play.html"><span class="glyphicon glyphicon-tint"></span> 游乐场</a></li>
                  <li><a class="link" href="{{ site.baseurl }}/grow/growup.html"><span class="glyphicon glyphicon-record"></span> 成长记</a></li>
              </ul>
          </div>
      </div>
  </nav>
  <!-- 图片轮播 -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval=3000 data-pause = "hover" data-wrap="true" style="width: 75%;height: 80%; margin-left:auto; margin-right:auto;">
      <!-- Indicators 这里控制轮播的“圆圈”个数，与下面实际展示的数量要一致-->
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
          <div class="item active">
              <img src="{{ site.baseurl }}/img/index/1.jpg">
              <div class="carousel-caption">
                <h2>我在花卉公园</h2>
              </div>
          </div>
          <div class="item">
              <img src="{{ site.baseurl }}/img/index/2.jpg">
              <div class="carousel-caption">
                <h2>我在图书馆</h2>
              </div>
          </div>
          <div class="item">
            <img src="{{ site.baseurl }}/img/index/3.jpg">
              <div class="carousel-caption">
                <h2>我在民族广场</h2>
              </div>
          </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
<!-- 图片轮播 结束 -->
  <!-- 功能模块 -->
  <div class="row div_function">
      <div class="col-xs-3">
          <div class="panel panel-default" id="pFunc1">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/story/category-pic/">
                  <strong>照片墙</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/picture.png">
              </a>
              </div>
          </div>
      </div>
      <div class="col-xs-3">
          <div class="panel panel-default"  id="pFunc2">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/story/category-note/">
                  <strong>记事本</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/note.png">
              </a>
              </div>
          </div>
      </div>
      <div class="col-xs-3">
          <div class="panel panel-default"  id="pFunc3">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/grow/play.html">
                  <strong>游乐场</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/muma.png">
              </a>
              </div>
          </div>
      </div>
    <div class="col-xs-3">
          <div class="panel panel-default"  id="pFunc4">
              <div class="panel-body">
              <a class="link" href="{{ site.baseurl }}/grow/growup.html">
                  <strong>成长记</strong>
                  <img class="iv_function" src="{{ site.baseurl }}/img/web/growup.png">
              </a>
              </div>
          </div>
      </div>
  </div>
<!-- 功能模块 结束-->

<div class="container div_divider">
<hr class="hr_1">欢迎访问李大锤的个人主页 <a class="link" href="{{ site.baseurl }}/">返回首页</a> <hr class="hr_2"> 
</div>
