<h2>技能树</h2>

<section class="tech">
    <div class = "item">
        <div class = "describe">
            喝奶
        </div>
        <div class="progress">
            <span class="yellow" style="width: 100%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            打人、咬人、哭闹、滚爬
        </div>
        <div class="progress">
            <span class="green" style="width: 100%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            走路
        </div>
        <div class="progress">
            <span class="blue" style="width: 100%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            自己喝水
        </div>
        <div class="progress">
            <span class="grey" style="width: 80%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            自己吃饭
        </div>
        <div class="progress">
            <span class="yellow" style="width: 30%;"></span>
        </div>
    </div>
    
    <div class = "item">
        <div class = "describe">
            讲话
        </div>
        <div class="progress">
            <span class="red" style="width: 20%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            写字
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 0%;"></span>
        </div>
    </div>

</section>
